<!--div class="jumbotron" ng-controller="MainCtrl">
  <h2>EnCircled Me</h2>
  <p class="lead">
    <img src="images/default.png" alt="Awesome Contacts" style="width:100px; height:100px;"><br>
    Ohh... Buttons!
  </p>
  <p>
    <div class="btn-group">
      <a class="btn btn-lg btn-success" ng-href="#/login">Log In</a>
      <a class="btn btn-lg btn-info" ng-href="#/signup">Sign Up</a>
    </div>
  </p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div-->
<div class="container-fluid">
<ng-include src="'views/guest-menu.html'"></ng-include>
<div class="container top-buffer">
  <div class="row top-buffer">
    <img ng-src="{{host}}/uploads/main.jpg" class="avatar img-circle" id="avatar" ng-click="signUp()">
  </div>
</div>
</div>

<script>
      $(document).ready(function() {
        $("#avatar").click(function() {
          $("#avatar").toggleClass("unfocused");
          $(".social-img").toggleClass("active");
        });
        /*$("body:not(#avatar)").click(function() {
          $("#avatar").removeClass("unfocused");
          $(".social-img").removeClass("active");
        });
        $("#avatar").click(function() {
          $("#avatar").toggleClass("unfocused");
          $(".social-img").toggleClass("active");
        });*/

        $(".message-window form").submit(function(event) {
          event.preventDefault();

          var formData = {'email': $(this).find("#email").val(), 'message': $(this).find("#message").val()};

          $("#message-feedback").html("<strong>Hang on,</strong> the owl is sending the message");
          $("#message-feedback").attr("class", "alert alert-info");

          $.ajax({
            url: "landing/message.php",
            type: "POST",
            data: formData,
            success: function(data) {
              data = JSON.parse(data);
              $("#message-feedback").html(data['message']);
              if (data['type'] == "success") {
                $("#message-feedback").attr("class", "alert alert-success");
              } else {
                $("#message-feedback").attr("class", "alert alert-danger");
              }
            },
            error: function(data) {
              console.log(data);
            }
          });
        });

        $(".message-window #close-message").click(function() {
          $(".message-window").removeClass("active");
        });

        $("img.email").click(function() {
          $(".message-window").toggleClass('active');
        });
      });
    </script>
