<div class="jumbotron top-buffer" style="background-color:white;border:none;">
  <h1>enCircled.Me</h1>
  <p class="lead">
    Become enCircled
  </p>
  <p>
    <div class="btn-group top-buffer-small">
      <a class="btn btn-lg btn-info" ng-href="#/signup" style="width:150px;">Sign Up</a>
      <a class="btn btn-lg btn-success" ng-href="#/login" style="width:150px;">Log In</a>
    </div>
  </p>
</div>

<footer class="footer" style="width:100%;">
      <p class="text-muted" style="font-size:80%;">Developed by &copy; <a href="http://razvanilin.com/">Răzvan Ilin</a> | enCircled.Me v{{version}}</p>
    </footer>


