<div class="top-buffer hidden-xs hidden-sm"></div>
<div class="top-buffer-small hidden-md hidden-lg"></div>

<div class="jumbotron" style="background-color:white;border:none;">
  <small class="text-muted">- Demo Version -</small>
  <h1>enCircled.Me</h1>
  <p class="lead">
    Become enCircled
  </p>
  <p>
    <div class="btn-group top-buffer-small">
      <a class="btn btn-lg btn-info" ng-href="#/signup" style="width:150px;">Sign Up</a>
      <a class="btn btn-lg btn-success" ng-href="#/login" style="width:150px;">Log In</a>
    </div>
  </p>
  <p><small><a href="https://github.com/razvanilin/encircledme">Visit GitHub repo</a></small></p>
  <p class="top-buffer hidden-xs hidden-sm"></p>
  <!-- TWITTER -->
  <p>
    <a class="twitter-timeline" href="https://twitter.com/hashtag/encircledme" data-widget-id="607650205895376898">#encircledme Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>
  <!-- END TWITTER -->
</div>

<footer class="footer" style="width:100%;">
      <p class="text-muted" style="font-size:80%;">Developed by  <a href="http://razvanilin.com/">Răzvan Ilin</a> | enCircled.Me v{{version}}</p>
    </footer>


