<div class="menu" ng-controller="MenuCtrl">
	<span>{{ menu.username }} </span><img ng-src="images/{{ menu.avatar }}" class="profile img-circle">
	<div ng-if="menu.loggedIn == true" class="menu-items btn-group-vertical">
		<a class="btn btn-default" ng-href="#/{{ menu.username }}">Profile</a>
		<a class="btn btn-default" ng-href="#/user/{{ menu.username }}/profile">Edit Profile</a>
		<a class="btn btn-default" ng-href="#/logout">Log Out</a>
	</div>

	<div ng-if="menu.loggedIn == false" class="menu-items btn-group-vertical">
		<a class="btn btn-default" ng-href="#/">Home</a>
		<a class="btn btn-default" ng-href="#/signup">Sign Up</a>
		<a class="btn btn-default" ng-href="#/login">Log In</a>
	</div>
</div>
<script>
$(".menu span, .menu img").click(function() {
	$(".menu-items").toggleClass("active");
});
</script>
