<div class="row">
	<ng-include src="'views/edit-menu.html'"></ng-include>
	<div class="col-md-9">
		<div class="row">
			<h2>Edit your profile</h2>
		</div>

		<form role="form" class="form-horizontal top-buffer">
		  <div class="form-group">
		  	<label for="inputFirstname" class="col-sm-4 control-label">First Name</label>
		  	<div class="col-sm-4">
			  	<input type="text" ng-model="profile.profile.firstname" class="form-control" id="inputFirstname" placeholder="First Name" required>
		  	</div>
		  </div>

		  <div class="form-group">
		  	<label for="inputLastname" class="col-sm-4 control-label">Last Name</label>
		  	<div class="col-sm-4">
			  	<input type="text" ng-model="profile.profile.lastname" class="form-control" id="inputLastname" placeholder="First Name">
		  	</div>
		  </div>

		  <div class="form-group">
		    <label for="inputEmail" class="col-sm-4 control-label">Email</label>
		    <div class="col-sm-4">
		      <input type="email" ng-model="profile.email" class="form-control" id="inputEmail" placeholder="Email" required>
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-4 col-sm-4">
		      <button type="submit" ng-click="saveProfile()" class="btn btn-default"><span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Save Profile</button>
		    </div>
		  </div>
		  <div ng-show="success" class="alert alert-success" role="alert">{{ success }}</div>
		  <div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
		</form>
	</div>
</div>