<div class="row">
	<ng-include src="'views/edit-menu.html'"></ng-include>
	<div class="col-md-9">
		<div class="row">
			<h2>Edit your profile</h2>
		</div>

		<form role="form" class="form-horizontal top-buffer">
		  <div class="form-group">
		  	<label for="inputFirstname" class="col-sm-4 control-label">First Name</label>
		  	<div class="col-sm-4">
			  	<input type="text" ng-model="profile.profile.firstname" class="form-control" id="inputFirstname" placeholder="First Name" required>
		  	</div>
		  </div>

		  <div class="form-group">
		  	<label for="inputLastname" class="col-sm-4 control-label">Last Name</label>
		  	<div class="col-sm-4">
			  	<input type="text" ng-model="profile.profile.lastname" class="form-control" id="inputLastname" placeholder="First Name">
		  	</div>
		  </div>

		  <div class="form-group">
		    <label for="inputEmail" class="col-sm-4 control-label">Email</label>
		    <div class="col-sm-4">
		      <input type="email" ng-model="profile.email" class="form-control" id="inputEmail" placeholder="Email" required>
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-4 col-sm-4">
		      <button type="submit" ng-click="saveProfile()" class="btn btn-default">Save Profile</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#avatar").click(function() {
		$("#avatar").toggleClass("unfocused");
		$(".social-img").toggleClass("active");
	});
	/*$("body:not(#avatar)").click(function() {
		$("#avatar").removeClass("unfocused");
		$(".social-img").removeClass("active");
	});
	$("#avatar").click(function() {
		$("#avatar").toggleClass("unfocused");
		$(".social-img").toggleClass("active");
	});*/

	$(".message-window form").submit(function(event) {
		event.preventDefault();

		var formData = {'email': $(this).find("#email").val(), 'message': $(this).find("#message").val()};

		$("#message-feedback").html("<strong>Hang on,</strong> the owl is sending the message");
		$("#message-feedback").attr("class", "alert alert-info");

		$.ajax({
			url: "landing/message.php",
			type: "POST",
			data: formData,
			success: function(data) {
				data = JSON.parse(data);
				$("#message-feedback").html(data['message']);
				if (data['type'] == "success") {
					$("#message-feedback").attr("class", "alert alert-success");
				} else {
					$("#message-feedback").attr("class", "alert alert-danger");
				}
			},
			error: function(data) {
				console.log(data);
			}
		});
	});

	$(".message-window #close-message").click(function() {
		$(".message-window").removeClass("active");
	});

	$("img.email").click(function() {
		$(".message-window").toggleClass('active');
	});
});
</script>