<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
</style>

<div class="row" style="margin-bottom:50px;">
    <ng-include src="'views/edit-menu.html'"></ng-include>
    <div class="col-md-9">

        <div class="row">
            <h2>Manage your Networks</h2>
        </div>

        <div class="row top-buffer hidden-xs hidden-sm"></div>
        <div class="row top-buffer-small hidden-md hidden-lg"></div>

        <div class="row top-buffer-medium">
            <img class="avatar img-circle" ng-src="{{host}}{{profile.avatar}}">
            <img ng-src="{{host}}{{selectedNetworks.top.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'top')" class="circle social-img social-top active">
            <img ng-src="{{host}}{{selectedNetworks.topLeft.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'topLeft')" class="circle social-img social-top-left active">
            <img ng-src="{{host}}{{selectedNetworks.topRight.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'topRight')" class="circle social-img social-top-right active">
            <img ng-src="{{host}}{{selectedNetworks.left.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'left')" class="circle social-img social-left active">
            <img ng-src="{{host}}{{selectedNetworks.right.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'right')" class="circle social-img social-right active">
            <img ng-src="{{host}}{{selectedNetworks.bottom.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'bottom')" class="circle social-img social-bottom active">
            <img ng-src="{{host}}{{selectedNetworks.bottomLeft.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'bottomLeft')" class="circle social-img social-bottom-left active">
            <img ng-src="{{host}}{{selectedNetworks.bottomRight.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'bottomRight')" class="circle social-img social-bottom-right active">
            <img ng-src="{{host}}{{selectedNetworks.centre.logo}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'centre')" class="circle social-img social-centre active">
        </div>

        <div class="row top-buffer-medium">
          <h3>Drag and drop the links on your circle</h3>
          <p>Double click a network to edit it</p>
          <div class="col-md-offset-2">
            <div class="row">
              <div class="col-md-1" ng-repeat="network in profile.social" ng-drag="true" ng-drag-data="network" ng-dblclick="beginEdit(network.position)">
                  <img ng-src="{{host}}{{network.logo}}" class="img-circle" style="width:50px;height:50px;z-index:1;position:absolute;">
              </div>
            </div>
          </div>
        </div>

        <!-- SOCIAL LINKS SETUP -->
        <!--div id="manageNetworks" class="row">

            <div class="col-md-offset-1 col-md-11 table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Network</th><th class="hidden-xs">Link</th><th>Position</th><th>Status</th><th>Edit</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:left;">
                        <tr ng-repeat="social in profile.social">
                            <td><div class="col-md-2">{{ social.network }}</div></td>
                            <td class="hidden-xs" style="max-width:200px;overflow:hidden;">{{ social.link }}</td>
                            <td>{{ social.position }}</td>
                            <td><toggle-switch ng-model="social.active" ng-change="changeStatus()"></toggle-switch></td>
                            <td>
                                <button class="btn btn-info" title="Edit" ng-click="beginEdit(social.position)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div--> <!-- END SOCIAL LINKS SETUP -->
        <div class="jumbotron top-buffer-medium" ng-show="viewEdit">
        <div id="editNetwork" class="row">
                <div class="col-md-8">
                    <div class="row">
                        <h3>Edit the '{{ selectedNetwork.position }}' Network</h3>
                    </div>
                    <form role="form" class="form-horizontal top-buffer">
                      <div class="form-group">
                        <label for="inputNetwork" class="col-sm-4 control-label">Network Name</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="selectedNetwork.network" class="form-control" id="inputNetwork" placeholder="Network Name" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputLink" class="col-sm-4 control-label">URL</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="selectedNetwork.link" class="form-control" id="inputUrl" placeholder="Network URL" required>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                          <button type="submit" class="btn btn-sm btn-default" ng-click="editNetwork()"><span ng-show="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Save</button>
                        </div>
                      </div>

                      <div ng-if="viewEditError" class="alert alert-danger" role="alert"><strong>Oups! </strong> Something went wrong :(</div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div ng-show="uploader.isHTML5" class="top-buffer-small">
                        <p>Upload new logo</p>
                        <div nv-file-drop="" uploader="uploader" options="{ url: uploader.url }">
                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone" style="max-height:100px">
                                <table style="display:inline-block;">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td style="padding:5px;">
                                                <a ng-href="" class="thumbnail"><img class="img-rounded" ng-src="{{ host }}{{ selectedNetwork.logo }}" style="height:50px;"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <input type="file" nv-file-select="" uploader="uploader"/>
                    <h3><span ng-show="logoLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h3>
                    <div ng-show="logoSuccess" class="alert alert-success" role="alert">New logo was uploaded.</div>
                    <div ng-show="logoError" class="alert alert-danger" role="alert">{{logoError}}</div>
                </div>
            </div>
          </div>
    </div>
</div>
