<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
</style>

<div class="row" style="margin-bottom:50px;">
    <ng-include src="'views/edit-menu.html'"></ng-include>
    <div class="col-md-9">
        <!-- SOCIAL LINKS SETUP -->
        <div class="row" ng-controller="SocialLinksCtrl">
            <div class="row">
                <h3>Manage your Networks</h3>
            </div>

            <div class="row">
                <!--form role="form" class="form-horizontal top-buffer">

                  <div class="form-group" ng-repeat="social in profile.social">
                    <div class="col-md-offset-1 col-sm-4">
                        <input type="text" class="form-control" id="inputOld" placeholder="Social Link" value="{{social.link}}">
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="social.network">
                            <option value="instagram">Instagram</option>
                            <option value="facebook">Facebook</option>
                            <option value="google">Google Plus</option>
                            <option value="linkedin">LinkedIn</option>
                            <option value="flickr">Flickr</option>
                            <option value="github">GitHub</option>
                            <option value="youtube">Youtube</option>
                            <option value="twitter">Twitter</option>
                            <option value="email">Email</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="social.position">
                            <option value="top">Top</option>
                            <option value="topRight">Top-Right</option>
                            <option value="topLeft">Top-Left</option>
                            <option value="right">Right</option>
                            <option value="left">Left</option>
                            <option value="bottom">Bottom</option>
                            <option value="bottomRight">Bottom-Right</option>
                            <option value="bottomLeft">Bottom-Left</option>
                            <option value="centre">Centre</option>                          
                        </select>
                    </div>

                    <div class="col-sm-2">
                        <button class="btn btn-info" title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger" title="Remove"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                  </div>

                </form-->
                <div class="col-md-offset-1 col-md-11">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Network</th><th>Link</th><th>Position</th><th>Actions</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:left;">
                        <tr ng-repeat="social in profile.social">
                            <td><div class="col-md-2">{{ social.network }}</div></td>
                            <td>{{ social.link }}</td>
                            <td>{{ social.position }}</td>
                            <td>
                                <button class="btn btn-info" title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button class="btn btn-danger" title="Remove"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <hr/>
            <div class="row">
                <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add a new network</button>
            </div>
        </div> <!-- END SOCIAL LINKS SETUP -->
    </div>
</div>