<ng-include src="'views/menu.html'"></ng-include>
				<div class="page-header">
					<h1>{{ user.firstname }} {{ user.lastname }}</h1>
				</div>

				<div class="message-window">
					<form>
						<div class="form-group">
							<label for="email-input">Email address</label>
							<input type="email" class="form-control" id="email" placeholder="Enter Email">
						</div>
						<div class="form-group">
							<label for="message-input">Your Message</label>
							<textarea id="message" class="form-control" rows="3"></textarea>
						</div>
						<div class="btn-group">
							<button type="submit" class="btn btn-info">Send</button>
							<button id="close-message" class="btn btn-warning" type="button">Close</button>
						</div>
						<div id="message-feedback" role="alert"></div>
					</form>
				</div>

			</div>
			<div class="row top-buffer"></div>
			<div class="row  top-buffer-medium hidden-xs"></div>
			<div class="row">
				<img ng-src="{{ host }}{{ user.avatar }}" class="avatar img-circle" id="avatar">
				<img ng-show="user.social.topRight.active" src="{{ host }}{{ user.social.topRight.logo }}" class="social-img social-top-right" ng-click="accessNetwork(user.social.topRight.link)" title="{{user.social.topRight.network}}">

				<img ng-show="user.social.topLeft.active" src="{{ host }}{{ user.social.topLeft.logo }}" class="social-img social-top-left" ng-click="accessNetwork(user.social.topLeft.link)" title="{{user.social.topLeft.network}}">

				<img ng-show="user.social.bottom.active" src="{{ host }}{{ user.social.bottom.logo }}" class="social-img social-bottom" ng-click="accessNetwork(user.social.bottom.link)" title="{{user.social.bottom.network}}">

				<img ng-show="user.social.right.active" src="{{ host }}{{ user.social.right.logo }}" class="social-img social-right" ng-click="accessNetwork(user.social.right.link)" title="{{user.social.right.network}}">

				<img ng-show="user.social.top.active" src="{{ host }}{{ user.social.top.logo }}" class="social-img social-top" ng-click="accessNetwork(user.social.top.link)" title="{{user.social.top.network}}">

				<img ng-show="user.social.bottomRight.active" src="{{ host }}{{ user.social.bottomRight.logo }}" class="social-img social-bottom-right" ng-click="accessNetwork(user.social.bottomRight.link)" title="{{user.social.bottomRight.network}}">

				<img ng-show="user.social.bottomLeft.active" src="{{ host }}{{ user.social.bottomLeft.logo }}" class="social-img social-bottom-left" ng-click="accessNetwork(user.social.bottomLeft.link)" title="{{user.social.bottomLeft.network}}">

				<img ng-show="user.social.left.active" src="{{ host }}{{ user.social.left.logo }}" class="social-img social-left" ng-click="accessNetwork(user.social.left.link)" title="{{user.social.left.network}}">

				<img ng-show="user.social.centre.active" src="{{ host }}{{ user.social.centre.logo }}" class="social-img social-centre" title="Send Message">

			</div>
		
		<script>
			$(document).ready(function() {
				$("#avatar").click(function() {
					$("#avatar").toggleClass("unfocused");
					$(".social-img").toggleClass("active");
				});
				/*$("body:not(#avatar)").click(function() {
					$("#avatar").removeClass("unfocused");
					$(".social-img").removeClass("active");
				});
				$("#avatar").click(function() {
					$("#avatar").toggleClass("unfocused");
					$(".social-img").toggleClass("active");
				});*/

				$(".message-window form").submit(function(event) {
					event.preventDefault();

					var formData = {'email': $(this).find("#email").val(), 'message': $(this).find("#message").val()};

					$("#message-feedback").html("<strong>Hang on,</strong> the owl is sending the message");
					$("#message-feedback").attr("class", "alert alert-info");

					$.ajax({
						url: "landing/message.php",
						type: "POST",
						data: formData,
						success: function(data) {
							data = JSON.parse(data);
							$("#message-feedback").html(data['message']);
							if (data['type'] == "success") {
								$("#message-feedback").attr("class", "alert alert-success");
							} else {
								$("#message-feedback").attr("class", "alert alert-danger");
							}
						},
						error: function(data) {
							console.log(data);
						}
					});
				});

				$(".message-window #close-message").click(function() {
					$(".message-window").removeClass("active");
				});

				$("img.email").click(function() {
					$(".message-window").toggleClass('active');
				});
			});
		</script>