<ng-include src="'views/menu.html'"></ng-include>
				<div class="page-header">
					<h1>{{ user.firstname }} {{ user.lastname }}</h1>
				</div>

				<div class="message-window">
					<form>
						<div class="form-group">
							<label for="email-input">Email address</label>
							<input type="email" class="form-control" id="email" placeholder="Enter Email">
						</div>
						<div class="form-group">
							<label for="message-input">Your Message</label>
							<textarea id="message" class="form-control" rows="3"></textarea>
						</div>
						<div class="btn-group">
							<button type="submit" class="btn btn-info">Send</button>
							<button id="close-message" class="btn btn-warning" type="button">Close</button>
						</div>
						<div id="message-feedback" role="alert"></div>
					</form>
				</div>

			</div>
			<div class="row top-buffer"></div>
			<div class="row  top-buffer-medium hidden-xs"></div>
			<div class="row">
				<img ng-src="{{ host }}{{ user.avatar }}" class="avatar img-circle" id="avatar">
				<img src="images/facebook-icon1.png" class="social-img social-top-right" onclick="if ($(this).hasClass('active')) window.open('https://www.facebook.com/razvanilin');" title="Facebook">
				<img src="images/twitter-icon1.png" class="social-img social-top-left" onclick="if ($(this).hasClass('active'))window.open('https://twitter.com/razvanilin');" title="Twitter">
				<img src="images/flickr-icon1.png" class="social-img social-bottom" onclick="if ($(this).hasClass('active'))window.open('https://www.flickr.com/photos/125513418@N05/');" title="Flickr">
				<img src="images/google-plus-icon1.png" class="social-img social-right" onclick="if ($(this).hasClass('active'))window.open('https://plus.google.com/u/0/+RăzvanIlin');" title="Google Plus">
				<img src="images/instagram-icon1.png" class="social-img social-top" onclick="if ($(this).hasClass('active'))window.open('https://instagram.com/razvanilin/');" title="Instagram">
				<img src="images/linkedin-icon1.png" class="social-img social-bottom-right" onclick="if ($(this).hasClass('active'))window.open('https://uk.linkedin.com/in/razvanilin');" title="Linkedin">
				<img src="images/github-icon1.png" class="social-img social-bottom-left" onclick="if ($(this).hasClass('active'))window.open('https://github.com/razvanilin');" title="GitHub">
				<img src="images/youtube-icon1.png" class="social-img social-left" onclick="if ($(this).hasClass('active'))window.open('https://www.youtube.com/channel/UCpR2Pg6NVk3g0eWEfIgQmWA');" title="Youtube">
				<img src="images/email-icon.png" class="social-img social-centre" title="Send Message">

			</div>
		
		<script src="scripts/function.js"></script>