<ng-include src="'views/menu.html'"></ng-include>
				<div class="page-header">
					<h1>{{ user.firstname }} {{ user.lastname }}</h1>
				</div>

				<div class="message-window">
					<form>
						<div class="form-group">
							<label for="email-input">Email address</label>
							<input type="email" class="form-control" id="email" placeholder="Enter Email">
						</div>
						<div class="form-group">
							<label for="message-input">Your Message</label>
							<textarea id="message" class="form-control" rows="3"></textarea>
						</div>
						<div class="btn-group">
							<button type="submit" class="btn btn-info">Send</button>
							<button id="close-message" class="btn btn-warning" type="button">Close</button>
						</div>
						<div id="message-feedback" role="alert"></div>
					</form>
				</div>

			</div>
			<div class="row top-buffer"></div>
			<div class="row  top-buffer-medium hidden-xs"></div>
			<div class="row">
				<img ng-src="{{ host }}{{ user.avatar }}" class="avatar img-circle" id="avatar">
				<img src="{{ host }}{{ user.social.topRight.logo }}" class="social-img social-top-right" onclick="if ($(this).hasClass('active')) window.open('https://www.facebook.com/razvanilin');" title="Facebook">

				<img src="{{ host }}{{ user.social.topLeft.logo }}" class="social-img social-top-left" onclick="if ($(this).hasClass('active'))window.open('https://twitter.com/razvanilin');" title="Twitter">

				<img src="{{ host }}{{ user.social.bottom.logo }}" class="social-img social-bottom" onclick="if ($(this).hasClass('active'))window.open('https://www.flickr.com/photos/125513418@N05/');" title="Flickr">

				<img src="{{ host }}{{ user.social.right.logo }}" class="social-img social-right" onclick="if ($(this).hasClass('active'))window.open('https://plus.google.com/u/0/+RăzvanIlin');" title="Google Plus">

				<img src="{{ host }}{{ user.social.top.logo }}" class="social-img social-top" onclick="if ($(this).hasClass('active'))window.open('https://instagram.com/razvanilin/');" title="Instagram">

				<img src="{{ host }}{{ user.social.bottomRight.logo }}" class="social-img social-bottom-right" onclick="if ($(this).hasClass('active'))window.open('https://uk.linkedin.com/in/razvanilin');" title="Linkedin">

				<img src="{{ host }}{{ user.social.bottomLeft.logo }}" class="social-img social-bottom-left" onclick="if ($(this).hasClass('active'))window.open('https://github.com/razvanilin');" title="GitHub">

				<img src="{{ host }}{{ user.social.left.logo }}" class="social-img social-left" onclick="if ($(this).hasClass('active'))window.open('https://www.youtube.com/channel/UCpR2Pg6NVk3g0eWEfIgQmWA');" title="Youtube">

				<img src="{{ host }}{{ user.social.centre.logo }}" class="social-img social-centre" title="Send Message">

			</div>
		
		<script>
			$(document).ready(function() {
	$("#avatar").click(function() {
		$("#avatar").toggleClass("unfocused");
		$(".social-img").toggleClass("active");
	});
	/*$("body:not(#avatar)").click(function() {
		$("#avatar").removeClass("unfocused");
		$(".social-img").removeClass("active");
	});
	$("#avatar").click(function() {
		$("#avatar").toggleClass("unfocused");
		$(".social-img").toggleClass("active");
	});*/

	$(".message-window form").submit(function(event) {
		event.preventDefault();

		var formData = {'email': $(this).find("#email").val(), 'message': $(this).find("#message").val()};

		$("#message-feedback").html("<strong>Hang on,</strong> the owl is sending the message");
		$("#message-feedback").attr("class", "alert alert-info");

		$.ajax({
			url: "landing/message.php",
			type: "POST",
			data: formData,
			success: function(data) {
				data = JSON.parse(data);
				$("#message-feedback").html(data['message']);
				if (data['type'] == "success") {
					$("#message-feedback").attr("class", "alert alert-success");
				} else {
					$("#message-feedback").attr("class", "alert alert-danger");
				}
			},
			error: function(data) {
				console.log(data);
			}
		});
	});

	$(".message-window #close-message").click(function() {
		$(".message-window").removeClass("active");
	});

	$("img.email").click(function() {
		$(".message-window").toggleClass('active');
	});
});
		</script>